############################
# Python
############################
__pycache__/
*.py[cod]
*$py.class

############################
# Virtual env
############################
venv/
.env/
.venv/

############################
# Pip / build
############################
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

############################
# Editable install (sam3)
############################
*.egg-link

############################
# Torch / model weights
############################
*.pt
*.pth
*.ckpt
*.bin
*.onnx
*.safetensors

############################
# Model folder 
############################
models/
checkpoints/
weights/

############################
# HuggingFace cache
############################
.cache/
huggingface/
transformers_cache/

############################
# Docker
############################
*.log
docker-compose.override.yml

############################
# IDE
############################
.vscode/
.idea/

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Dataset
############################
data/
datasets/

############################
# Temporary
############################
tmp/
*.tmp

############################
# test
############################
/inputs
/test
/outputs
/examples/test_svg2ppt.sh
/tools
